---
export interface Props {
  href: string;
  dest: string,
  "class"?: string;
  hasIcon?: boolean;
}

import { generateRandomId } from "@/scripts/utils"

const { href, dest, class: _class = "", hasIcon = true } = Astro.props;

const randomId = generateRandomId();
---

<!--
Behavior:
- Opens link in new tab
- Prevents "tabnabbing" (see link below)

https://www.freecodecamp.org/news/how-to-use-html-to-open-link-in-new-tab/#security-concerns-with-target-_blank
-->
<a 
  href={href} 
  class={_class} 
  target="_blank" 
  rel="noreferrer noopener"
  aria-describedby={randomId}
  title={dest ? `Opens ${dest} in a new tab` : "Opens a new tab"}
><slot/>{
  hasIcon 
    ? <i class="bi bi-box-arrow-up-right ms-2"></i> 
    : <></>
}</a><span hidden id={randomId}></span>