---
export interface Props {
  href: string;
  _class?: string;
}

const { href, dest, class: _class = "", hasIcon = true } = Astro.props;

// 16777215 = 16^6-1 = a 6-digit hex number
const randomId = Math.floor(Math.random()*16777215).toString(16);
---

<!--
Behavior:
- Opens link in new tab
- Prevents "tabnabbing" (see link below)

https://www.freecodecamp.org/news/how-to-use-html-to-open-link-in-new-tab/#security-concerns-with-target-_blank
-->
<a 
  href={href} 
  class={_class} 
  target="_blank" 
  rel="noreferrer noopener"
  aria-describedby={randomId}
  title={dest ? `Opens ${dest} in a new tab` : "Opens a new tab"}
><slot/>{
  hasIcon 
    ? <i class="bi bi-box-arrow-up-right ms-2"></i> 
    : <></>
}</a><span hidden id={randomId}></span>